.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project_container {
  border-radius: var(--size-border-radius);
  margin: 10px auto;
  cursor: pointer;
  display: flex;
}

.project_container_dark {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.project_container_light {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.project_content {
  padding: 0 20px;
  border: 0;
}

.project_content_dark {
  color: var(--color-secondary);
}

.img {
  height: 120px;
  object-fit: content;
}
